In [47]:
##import data
import pandas as pd
import numpy as np
metadata = pd.read_csv("../data/raw/movies_metadata.csv")

C:\Users\Martin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
##convert budget to float variable, print results
metadata.budget = metadata.budget.astype(np.float64)
print (metadata.budget)

0        30000000.0
1        65000000.0
2               0.0
3        16000000.0
4               0.0
5        60000000.0
6        58000000.0
7               0.0
8        35000000.0
9        58000000.0
10       62000000.0
11              0.0
12              0.0
13       44000000.0
14       98000000.0
15       52000000.0
16       16500000.0
17        4000000.0
18       30000000.0
19       60000000.0
20       30250000.0
21              0.0
22       50000000.0
23              0.0
24        3600000.0
25              0.0
26       12000000.0
27              0.0
28       18000000.0
29              0.0
            ...
45436           0.0
45437           0.0
45438           0.0
45439           0.0
45440           0.0
45441           0.0
45442           0.0
45443           0.0
45444           0.0
45445           0.0
45446           0.0
45447           0.0
45448           0.0
45449           0.0
45450           0.0
45451           0.0
45452           0.0
45453           0.0
45454           0.0
45455           0.0
45456           0.0
45457           0.0
45458           0.0
45459           0.0
45460           0.0
45461           0.0
45462           0.0
45463           0.0
45464           0.0
45465           0.0
Name: budget, Length: 45466, dtype: float64

In [49]:
##count valid revenue data
i = 0
for row in metadata.revenue:
    if row > 0:
        i = i+1
 

print(i)

7408

In [50]:
##metadata.loc[:, 'adult':'revenue']
print(metadata.keys())

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [54]:
#focus on columns needed.
metadata = metadata.loc[:, [ 'id', 'imdb_id', 'budget','genres','revenue', 'release_date', 'belongs_to_collection'  ]]
#print(metadata.head())

In [21]:
#count valid budget datasets
m = 0
for row in metadata.budget:
    if row > 0:
        m = m+1
 

print(m)

8890

In [52]:
#query dataset based on valid revenue and valid budget

#hasRevenue = metadata['revenue'] != 0
#hasBudget  = metadata['budget'] != 0

metadata = metadata.query('revenue > 0 & budget > 0')

#print(metadata)

           id    imdb_id       budget  \
0         862  tt0114709   30000000.0
1        8844  tt0113497   65000000.0
3       31357  tt0114885   16000000.0
5         949  tt0113277   60000000.0
8        9091  tt0114576   35000000.0
9         710  tt0113189   58000000.0
10       9087  tt0112346   62000000.0
13      10858  tt0113987   44000000.0
14       1408  tt0112760   98000000.0
15        524  tt0112641   52000000.0
16       4584  tt0114388   16500000.0
17          5  tt0113101    4000000.0
18       9273  tt0112281   30000000.0
19      11517  tt0113845   60000000.0
20       8012  tt0113161   30250000.0
22       9691  tt0112401   50000000.0
24        451  tt0113627    3600000.0
26       9263  tt0114011   12000000.0
28        902  tt0112682   18000000.0
31         63  tt0114746   29500000.0
33       9598  tt0112431   30000000.0
35        687  tt0112818   11000000.0
43       9312  tt0113855   18000000.0
44        577  tt0114681   20000000.0
45      11861  tt0113347   10000000.0
46        807  tt0114369   33000000.0
47      10530  tt0114148   55000000.0
49        629  tt0114814    6000000.0
51      11448  tt0113819   15000000.0
68      10634  tt0113118    3500000.0
...       ...        ...          ...
44140   52891  tt1124396    3000000.0
44152   69976  tt1620464    2500000.0
44166  100791  tt2288121    4000000.0
44249   43228  tt0050530      82000.0
44274  281338  tt3450958  152000000.0
44282  293768  tt1458169   21000000.0
44337  339964  tt2239822  197471676.0
44383  272610  tt3266724    7000000.0
44426   66526  tt0220656    7400000.0
44428   72663  tt1227165    2000000.0
44557  326011  tt4187590   10000000.0
44580    8453  tt0439662    5300000.0
44632  341013  tt2406566   30000000.0
44678  374720  tt5013056  100000000.0
44711   14570  tt0089243    8500000.0
44791  434119  tt5606538    8520000.0
44821   10991  tt0235679   16000000.0
44842  335988  tt3371366  260000000.0
44848  159447  tt2592500    2000000.0
44850   75438  tt1820462    2000000.0
44856   57701  tt1820555    3000000.0
44970   26147  tt0453365    2196531.0
45014  353491  tt1648190   60000000.0
45139  378236  tt4877122   50000000.0
45167  395834  tt5362988   11000000.0
45250   24049  tt0479751   12000000.0
45399  280422  tt3805180     750000.0
45409   62757  tt0933361     800000.0
45412   63281  tt1718881    2000000.0
45422   63898  tt1110037    5000000.0

                                                  genres      revenue  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  373554033.0
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  262797249.0
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   81452156.0
5      [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...  187436818.0
8      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   64350171.0
9      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  352194034.0
10     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  107879496.0
13     [{'id': 36, 'name': 'History'}, {'id': 18, 'na...   13681765.0
14     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   10017322.0
15     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...  116112375.0
16     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...  135000000.0
17     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...    4300000.0
18     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  212385533.0
19     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...   35431113.0
20     [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...  115101622.0
22     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   30303072.0
24     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   49800000.0
26     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   27400000.0
28     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...    1738611.0
31     [{'id': 878, 'name': 'Science Fiction'}, {'id'...  168840000.0
33     [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...  254134910.0
35                         [{'id': 18, 'name': 'Drama'}]   39363635.0
43     [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...  122195920.0
44     [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...   21284514.0
45     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   23574130.0
46     [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...  327311859.0
47     [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...  346079773.0
49     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...   23341568.0
51     [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...    6700000.0
68                        [{'id': 35, 'name': 'Comedy'}]   28215918.0
...                                                  ...          ...
44140                     [{'id': 35, 'name': 'Comedy'}]    9713500.0
44152                                                 []    1477030.0
44166  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...    9938268.0
44249  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...    2000000.0
44274  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...  369907963.0
44282  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...   24527158.0
44337  [{'id': 12, 'name': 'Adventure'}, {'id': 878, ...   90024292.0
44383  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...     855450.0
44426  [{'id': 10769, 'name': 'Foreign'}, {'id': 53, ...   22000000.0
44428  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...     273137.0
44557  [{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...    7547762.0
44580  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...   22175908.0
44632  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...   90007945.0
44678  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...  519876949.0
44711  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...    5730596.0
44791  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...   56100000.0
44821  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   68411275.0
44842  [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...  604942143.0
44848  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   11666088.0
44850                     [{'id': 35, 'name': 'Comedy'}]    8000000.0
44856  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...    1957000.0
44970  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...    2411594.0
45014  [{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...   71000000.0
45139  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...   66913939.0
45167  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...  184770205.0
45250  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...   19000000.0
45399  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...          3.0
45409  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...    1328612.0
45412  [{'id': 10749, 'name': 'Romance'}, {'id': 18, ...    1268793.0
45422  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...    1413000.0

      release_date                              belongs_to_collection
0       1995-10-30  {'id': 10194, 'name': 'Toy Story Collection', ...
1       1995-12-15                                                NaN
3       1995-12-22                                                NaN
5       1995-12-15                                                NaN
8       1995-12-22                                                NaN
9       1995-11-16  {'id': 645, 'name': 'James Bond Collection', '...
10      1995-11-17                                                NaN
13      1995-12-22                                                NaN
14      1995-12-22                                                NaN
15      1995-11-22                                                NaN
16      1995-12-13                                                NaN
17      1995-12-09                                                NaN
18      1995-11-10  {'id': 3167, 'name': 'Ace Ventura Collection',...
19      1995-11-21                                                NaN
20      1995-10-20  {'id': 91698, 'name': 'Chili Palmer Collection...
22      1995-10-06                                                NaN
24      1995-10-27                                                NaN
26      1995-10-20                                                NaN
28      1995-05-16                                                NaN
31      1995-12-29                                                NaN
33      1995-07-18  {'id': 9435, 'name': 'Babe Collection', 'poste...
35      1995-12-29                                                NaN
43      1995-08-18  {'id': 9818, 'name': 'Mortal Kombat Collection...
44      1995-05-20                                                NaN
45      1995-10-06                                                NaN
46      1995-09-22                                                NaN
47      1995-06-14  {'id': 136214, 'name': 'Pocahontas Collection'...
49      1995-07-19                                                NaN
51      1995-09-13                                                NaN
68      1995-04-26  {'id': 43563, 'name': 'Friday Collection', 'po...
...            ...                                                ...
44140   2008-09-18                                                NaN
44152   2010-05-06                                                NaN
44166   2012-03-15                                                NaN
44249   1957-06-19                                                NaN
44274   2017-07-11  {'id': 173710, 'name': 'Planet of the Apes (Re...
44282   2017-08-04                                                NaN
44337   2017-07-20                                                NaN
44383   2014-04-17                                                NaN
44426   1999-11-07                                                NaN
44428   2008-07-03                                                NaN
44557   2015-02-20                                                NaN
44580   2006-05-26                                                NaN
44632   2017-07-26                                                NaN
44678   2017-07-19                                                NaN
44711   1985-05-03                                                NaN
44791   2017-01-18                                                NaN
44821   2000-07-08  {'id': 34055, 'name': 'Pokémon Collection', 'p...
44842   2017-06-21  {'id': 8650, 'name': 'Transformers Collection'...
44848   2012-12-27  {'id': 162782, 'name': 'Mommies Collection', '...
44850   2011-07-21                                                NaN
44856   2011-02-03                                                NaN
44970   2005-12-30                                                NaN
45014   2017-08-03                                                NaN
45139   2017-07-28                                                NaN
45167   2017-08-03                                                NaN
45250   2007-06-14                                                NaN
45399   2014-06-05                                                NaN
45409   2006-11-23                                                NaN
45412   2010-09-30                                                NaN
45422   2007-09-06                                                NaN

[5381 rows x 7 columns]

In [53]:
metadata.to_csv("../data/interim/only_useful_datasets.csv")