In [1]:
##import data
import pandas as pd
import numpy as np
metadata = pd.read_csv("../data/raw/movies_metadata.csv")

C:\Users\Martin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
##convert budget to float variable, print results
metadata.budget = metadata.budget.astype(np.float64)
#print (metadata.budget)

In [3]:
##count valid revenue data
i = 0
for row in metadata.revenue:
    if row > 0:
        i = i+1
 

print(i)

7408

In [4]:
##metadata.loc[:, 'adult':'revenue']
print(metadata.keys())

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
#focus on columns needed.
metadata = metadata.loc[:, [ 'id', 'original_title', 'adult', 'budget','genres','revenue', 'release_date', 'belongs_to_collection', 'production_countries' , 'production_companies', 'runtime'   ]]
#print(metadata.head())

In [6]:
#count valid budget datasets
m = 0
for row in metadata.budget:
    if row > 0:
        m = m+1
 

print(m)

8890

In [7]:
#query dataset based on valid revenue and valid budget

#hasRevenue = metadata['revenue'] != 0
#hasBudget  = metadata['budget'] != 0

metadata = metadata.query('revenue > 0 & budget > 0')


print(metadata.keys())

Index(['id', 'original_title', 'adult', 'budget', 'genres', 'revenue',
       'release_date', 'belongs_to_collection', 'production_countries',
       'production_companies', 'runtime'],
      dtype='object')

In [8]:
metadata.to_csv("../data/interim/only_useful_datasets.csv")

In [9]:
print(metadata)

           id                               original_title  adult  \
0         862                                    Toy Story  False
1        8844                                      Jumanji  False
3       31357                            Waiting to Exhale  False
5         949                                         Heat  False
8        9091                                 Sudden Death  False
9         710                                    GoldenEye  False
10       9087                       The American President  False
13      10858                                        Nixon  False
14       1408                             Cutthroat Island  False
15        524                                       Casino  False
16       4584                        Sense and Sensibility  False
17          5                                   Four Rooms  False
18       9273               Ace Ventura: When Nature Calls  False
19      11517                                  Money Train  False
20       8012                                   Get Shorty  False
22       9691                                    Assassins  False
24        451                            Leaving Las Vegas  False
26       9263                                 Now and Then  False
28        902                   La Cité des Enfants Perdus  False
31         63                               Twelve Monkeys  False
33       9598                                         Babe  False
35        687                             Dead Man Walking  False
43       9312                                Mortal Kombat  False
44        577                                   To Die For  False
45      11861                How To Make An American Quilt  False
46        807                                        Se7en  False
47      10530                                   Pocahontas  False
49        629                           The Usual Suspects  False
51      11448                             Mighty Aphrodite  False
68      10634                                       Friday  False
...       ...                                          ...    ...
44140   52891                                Gitler kaput!  False
44152   69976                               Glukhar v kino  False
44166  100791                       Tot yeshchyo Karloson!  False
44249   43228                     I Was a Teenage Werewolf  False
44274  281338               War for the Planet of the Apes  False
44282  293768                                       Kidnap  False
44337  339964  Valerian and the City of a Thousand Planets  False
44383  272610                                   Black Rose  False
44426   66526                                     முதல்வன்  False
44428   72663                                      Нирвана  False
44557  326011                                    Батальонъ  False
44580    8453                                        Fanaa  False
44632  341013                                Atomic Blonde  False
44678  374720                                      Dunkirk  False
44711   14570                                      Gymkata  False
44791  434119                                           공조  False
44821   10991                         Pokémon 3: The Movie  False
44842  335988                Transformers: The Last Knight  False
44848  159447                         С новым годом, мамы!  False
44850   75438                                   Beremennyy  False
44856   57701                                 Na Kryuchke!  False
44970   26147                                     FC Venus  False
45014  353491                               The Dark Tower  False
45139  378236                              The Emoji Movie  False
45167  395834                                   Wind River  False
45250   24049                                       சிவாஜி  False
45399  280422                                  Все и сразу  False
45409   62757                                       Dikari  False
45412   63281                                   Про любоff  False
45422   63898                                     Антидурь  False

            budget                                             genres  \
0       30000000.0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1       65000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3       16000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
5       60000000.0  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
8       35000000.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9       58000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10      62000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
13      44000000.0  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14      98000000.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15      52000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16      16500000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17       4000000.0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18      30000000.0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19      60000000.0  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20      30250000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
22      50000000.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
24       3600000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
26      12000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
28      18000000.0  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
31      29500000.0  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
33      30000000.0  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
35      11000000.0                      [{'id': 18, 'name': 'Drama'}]
43      18000000.0  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
44      20000000.0  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
45      10000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
46      33000000.0  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
47      55000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
49       6000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
51      15000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
68       3500000.0                     [{'id': 35, 'name': 'Comedy'}]
...            ...                                                ...
44140    3000000.0                     [{'id': 35, 'name': 'Comedy'}]
44152    2500000.0                                                 []
44166    4000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
44249      82000.0  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
44274  152000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
44282   21000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
44337  197471676.0  [{'id': 12, 'name': 'Adventure'}, {'id': 878, ...
44383    7000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
44426    7400000.0  [{'id': 10769, 'name': 'Foreign'}, {'id': 53, ...
44428    2000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
44557   10000000.0  [{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...
44580    5300000.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44632   30000000.0  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
44678  100000000.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44711    8500000.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44791    8520000.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44821   16000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44842  260000000.0  [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
44848    2000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
44850    2000000.0                     [{'id': 35, 'name': 'Comedy'}]
44856    3000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
44970    2196531.0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
45014   60000000.0  [{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...
45139   50000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
45167   11000000.0  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
45250   12000000.0  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
45399     750000.0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
45409     800000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45412    2000000.0  [{'id': 10749, 'name': 'Romance'}, {'id': 18, ...
45422    5000000.0  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...

           revenue release_date  \
0      373554033.0   1995-10-30
1      262797249.0   1995-12-15
3       81452156.0   1995-12-22
5      187436818.0   1995-12-15
8       64350171.0   1995-12-22
9      352194034.0   1995-11-16
10     107879496.0   1995-11-17
13      13681765.0   1995-12-22
14      10017322.0   1995-12-22
15     116112375.0   1995-11-22
16     135000000.0   1995-12-13
17       4300000.0   1995-12-09
18     212385533.0   1995-11-10
19      35431113.0   1995-11-21
20     115101622.0   1995-10-20
22      30303072.0   1995-10-06
24      49800000.0   1995-10-27
26      27400000.0   1995-10-20
28       1738611.0   1995-05-16
31     168840000.0   1995-12-29
33     254134910.0   1995-07-18
35      39363635.0   1995-12-29
43     122195920.0   1995-08-18
44      21284514.0   1995-05-20
45      23574130.0   1995-10-06
46     327311859.0   1995-09-22
47     346079773.0   1995-06-14
49      23341568.0   1995-07-19
51       6700000.0   1995-09-13
68      28215918.0   1995-04-26
...            ...          ...
44140    9713500.0   2008-09-18
44152    1477030.0   2010-05-06
44166    9938268.0   2012-03-15
44249    2000000.0   1957-06-19
44274  369907963.0   2017-07-11
44282   24527158.0   2017-08-04
44337   90024292.0   2017-07-20
44383     855450.0   2014-04-17
44426   22000000.0   1999-11-07
44428     273137.0   2008-07-03
44557    7547762.0   2015-02-20
44580   22175908.0   2006-05-26
44632   90007945.0   2017-07-26
44678  519876949.0   2017-07-19
44711    5730596.0   1985-05-03
44791   56100000.0   2017-01-18
44821   68411275.0   2000-07-08
44842  604942143.0   2017-06-21
44848   11666088.0   2012-12-27
44850    8000000.0   2011-07-21
44856    1957000.0   2011-02-03
44970    2411594.0   2005-12-30
45014   71000000.0   2017-08-03
45139   66913939.0   2017-07-28
45167  184770205.0   2017-08-03
45250   19000000.0   2007-06-14
45399          3.0   2014-06-05
45409    1328612.0   2006-11-23
45412    1268793.0   2010-09-30
45422    1413000.0   2007-09-06

                                   belongs_to_collection  \
0      {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                    NaN
3                                                    NaN
5                                                    NaN
8                                                    NaN
9      {'id': 645, 'name': 'James Bond Collection', '...
10                                                   NaN
13                                                   NaN
14                                                   NaN
15                                                   NaN
16                                                   NaN
17                                                   NaN
18     {'id': 3167, 'name': 'Ace Ventura Collection',...
19                                                   NaN
20     {'id': 91698, 'name': 'Chili Palmer Collection...
22                                                   NaN
24                                                   NaN
26                                                   NaN
28                                                   NaN
31                                                   NaN
33     {'id': 9435, 'name': 'Babe Collection', 'poste...
35                                                   NaN
43     {'id': 9818, 'name': 'Mortal Kombat Collection...
44                                                   NaN
45                                                   NaN
46                                                   NaN
47     {'id': 136214, 'name': 'Pocahontas Collection'...
49                                                   NaN
51                                                   NaN
68     {'id': 43563, 'name': 'Friday Collection', 'po...
...                                                  ...
44140                                                NaN
44152                                                NaN
44166                                                NaN
44249                                                NaN
44274  {'id': 173710, 'name': 'Planet of the Apes (Re...
44282                                                NaN
44337                                                NaN
44383                                                NaN
44426                                                NaN
44428                                                NaN
44557                                                NaN
44580                                                NaN
44632                                                NaN
44678                                                NaN
44711                                                NaN
44791                                                NaN
44821  {'id': 34055, 'name': 'Pokémon Collection', 'p...
44842  {'id': 8650, 'name': 'Transformers Collection'...
44848  {'id': 162782, 'name': 'Mommies Collection', '...
44850                                                NaN
44856                                                NaN
44970                                                NaN
45014                                                NaN
45139                                                NaN
45167                                                NaN
45250                                                NaN
45399                                                NaN
45409                                                NaN
45412                                                NaN
45422                                                NaN

                                    production_countries  \
0      [{'iso_3166_1': 'US', 'name': 'United States o...
1      [{'iso_3166_1': 'US', 'name': 'United States o...
3      [{'iso_3166_1': 'US', 'name': 'United States o...
5      [{'iso_3166_1': 'US', 'name': 'United States o...
8      [{'iso_3166_1': 'US', 'name': 'United States o...
9      [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
10     [{'iso_3166_1': 'US', 'name': 'United States o...
13     [{'iso_3166_1': 'US', 'name': 'United States o...
14     [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...
15     [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...
16     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
17     [{'iso_3166_1': 'US', 'name': 'United States o...
18     [{'iso_3166_1': 'US', 'name': 'United States o...
19     [{'iso_3166_1': 'US', 'name': 'United States o...
20     [{'iso_3166_1': 'US', 'name': 'United States o...
22     [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...
24     [{'iso_3166_1': 'US', 'name': 'United States o...
26     [{'iso_3166_1': 'US', 'name': 'United States o...
28     [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...
31     [{'iso_3166_1': 'US', 'name': 'United States o...
33     [{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...
35     [{'iso_3166_1': 'US', 'name': 'United States o...
43     [{'iso_3166_1': 'US', 'name': 'United States o...
44     [{'iso_3166_1': 'US', 'name': 'United States o...
45     [{'iso_3166_1': 'US', 'name': 'United States o...
46     [{'iso_3166_1': 'US', 'name': 'United States o...
47     [{'iso_3166_1': 'US', 'name': 'United States o...
49     [{'iso_3166_1': 'US', 'name': 'United States o...
51     [{'iso_3166_1': 'US', 'name': 'United States o...
68     [{'iso_3166_1': 'US', 'name': 'United States o...
...                                                  ...
44140  [{'iso_3166_1': 'UA', 'name': 'Ukraine'}, {'is...
44152           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44166           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44249  [{'iso_3166_1': 'US', 'name': 'United States o...
44274  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
44282  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
44337           [{'iso_3166_1': 'FR', 'name': 'France'}]
44383           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44426            [{'iso_3166_1': 'IN', 'name': 'India'}]
44428           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44557           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44580            [{'iso_3166_1': 'IN', 'name': 'India'}]
44632  [{'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso...
44678  [{'iso_3166_1': 'NL', 'name': 'Netherlands'}, ...
44711  [{'iso_3166_1': 'US', 'name': 'United States o...
44791      [{'iso_3166_1': 'KR', 'name': 'South Korea'}]
44821            [{'iso_3166_1': 'JP', 'name': 'Japan'}]
44842  [{'iso_3166_1': 'US', 'name': 'United States o...
44848           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44850           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44856           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
44970          [{'iso_3166_1': 'FI', 'name': 'Finland'}]
45014  [{'iso_3166_1': 'ZA', 'name': 'South Africa'},...
45139  [{'iso_3166_1': 'US', 'name': 'United States o...
45167  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
45250            [{'iso_3166_1': 'IN', 'name': 'India'}]
45399           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45409                                                 []
45412           [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45422           [{'iso_3166_1': 'RU', 'name': 'Russia'}]

                                    production_companies  runtime
0         [{'name': 'Pixar Animation Studios', 'id': 3}]     81.0
1      [{'name': 'TriStar Pictures', 'id': 559}, {'na...    104.0
3      [{'name': 'Twentieth Century Fox Film Corporat...    127.0
5      [{'name': 'Regency Enterprises', 'id': 508}, {...    170.0
8      [{'name': 'Universal Pictures', 'id': 33}, {'n...    106.0
9      [{'name': 'United Artists', 'id': 60}, {'name'...    130.0
10     [{'name': 'Columbia Pictures', 'id': 5}, {'nam...    106.0
13     [{'name': 'Hollywood Pictures', 'id': 915}, {'...    192.0
14     [{'name': 'Le Studio Canal+', 'id': 183}, {'na...    119.0
15     [{'name': 'Universal Pictures', 'id': 33}, {'n...    178.0
16     [{'name': 'Columbia Pictures Corporation', 'id...    136.0
17     [{'name': 'Miramax Films', 'id': 14}, {'name':...     98.0
18     [{'name': 'O Entertainment', 'id': 5682}, {'na...     90.0
19              [{'name': 'Columbia Pictures', 'id': 5}]    103.0
20     [{'name': 'Jersey Films', 'id': 216}, {'name':...    105.0
22     [{'name': 'Silver Pictures', 'id': 1885}, {'na...    132.0
24     [{'name': 'United Artists', 'id': 60}, {'name'...    112.0
26               [{'name': 'New Line Cinema', 'id': 12}]    100.0
28     [{'name': 'Procirep', 'id': 311}, {'name': 'Co...    108.0
31     [{'name': 'Universal Pictures', 'id': 33}, {'n...    129.0
33     [{'name': 'Universal Pictures', 'id': 33}, {'n...     89.0
35     [{'name': 'Havoc', 'id': 406}, {'name': 'PolyG...    122.0
43     [{'name': 'New Line Cinema', 'id': 12}, {'name...    101.0
44     [{'name': 'The Rank Organisation', 'id': 364},...    106.0
45     [{'name': 'Universal Pictures', 'id': 33}, {'n...    116.0
46     [{'name': 'New Line Cinema', 'id': 12}, {'name...    127.0
47     [{'name': 'Walt Disney Pictures', 'id': 2}, {'...     81.0
49     [{'name': 'Blue Parrot Productions', 'id': 361...    106.0
51     [{'name': 'Miramax Films', 'id': 14}, {'name':...     95.0
68               [{'name': 'New Line Cinema', 'id': 12}]     91.0
...                                                  ...      ...
44140                [{'name': 'Leopolis', 'id': 18044}]     99.0
44152                                                 []      0.0
44166             [{'name': 'Enjoy Movies', 'id': 9340}]     80.0
44249       [{'name': 'Sunset Productions', 'id': 4697}]     76.0
44274    [{'name': 'Chernin Entertainment', 'id': 7076}]    140.0