In [44]:
import pandas as pd
import numpy as np
metadata = pd.read_csv("../data/raw/movies_metadata.csv")

C:\Users\Martin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
metadata['budget'].replace(['ABC', 'zV8bHuSL6WXoD6FWogP9j4x80bL.jpg'], '0')
metadata.budget = metadata.budget.astype(np.float64).fillna(0)
metadata.dtypes
print (metadata.budget)

ValueError: could not convert string to float: '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg'

In [25]:
i = 0
for row in metadata.revenue:
    if row > 0:
        i = i+1
 

print(i)

7408

In [27]:
metadata.loc[:, 'adult':'revenue']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.67728,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,0.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.56116,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,352194034.0
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",6.31844,/lymPNGLZgPHuqM29rKMGV46ANij.jpg,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-17,107879496.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.43033,/xve4cgfYItnOhtzLYoTwTVy5FGr.jpg,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,0.0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,12.1407,/gV5PCAVCPNxlOLFM1bKk50EqLXO.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,11348324.0
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,5.092,/cICkmCEiXRhvZmbuAlsA5D9B2rK.jpg,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,13681765.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.28448,/odM9973kIv9hcjfHPp6g6BlyTIJ.jpg,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,10017322.0
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,10.1374,/xo517ibXBDdYQY81j0WIG7BVcWq.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-11-22,116112375.0
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",10.6732,/lA9HTy84Bb6ZwNeyoZKobcMdpMc.jpg,"[{'name': 'Columbia Pictures Corporation', 'id...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-12-13,135000000.0
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,9.02659,/eQs5hh9rxrk1m4xHsIz1w11Ngqb.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-09,4300000.0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.20545,/wRlGnJhEzcxBjvWtvbjhDSU1cIY.jpg,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-10,212385533.0
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.33791,/jSozzzVOR2kfXgTUuGnbgG2yRFi.jpg,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-21,35431113.0
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,12.6696,/vWtDUUgQAsVyvRW4mE75LBgVm2e.jpg,"[{'name': 'Jersey Films', 'id': 216}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-20,115101622.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,10.7018,/80czeJGSoik22fhtUM9WzyjUU4r.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-27,0.0
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,11.0659,/xAx5MP7Dg4y85pyS7atX6eWk4Qd.jpg,"[{'name': 'Silver Pictures', 'id': 1885}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-10-06,30303072.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,12.1331,/1uRKsxOCtgz0xVqs9l4hYtp4dFm.jpg,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-27,0.0
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",10.332,/37qHRJxnSh5YkuaN9FgfNnMl3Tj.jpg,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-27,49800000.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,1.8459,/qM0BXEQjmnAzlkDZ0tYmV6twqMX.jpg,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]",1995-12-15,0.0
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,8.68132,/wD6rLdD2Ix3u9YLgE3Do8GyCHoz.jpg,"[{'name': 'New Line Cinema', 'id': 12}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-20,27400000.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,2.22843,/si8911IezMvAnQFDvyg1nKzDlD.jpg,"[{'name': 'BBC Films', 'id': 288}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-09-27,0.0
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,9.82242,/eVo6ewq4akfyJYy3GXkMsLNzEJc.jpg,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-05-16,1738611.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,1.10091,/qcoOCoN7viOhboGwhYXyApdDuiq.jpg,"[{'name': 'Ministère des Affaires Étrangères',...","[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",1995-04-30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,/sEP5bLtK5IyQxOFtq5AYz4kUpzD.jpg,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2010-01-01,0.0
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,20.82178,/wJUJROdLOtOzMixkjkx1aaZGSLl.jpg,[{'name': 'Ringling College of Art and Design'...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2017-06-01,0.0
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",0.590087,/aNrh6DfTngUvi7WdpTjLTPzYbTU.jpg,[],[],2015-04-02,0.0
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,0.143223,/udZ3hvhC52su7UQrGsIyDxK7IQA.jpg,"[{'name': 'Universal Pictures', 'id': 33}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1944-06-01,0.0
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,/w1TxeDOMS5so83bECaQECW1pV9.jpg,[],"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2007-01-08,0.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,/9sQVYo7B9cSexWXoQVzFFijCbD2.jpg,"[{'name': 'Walt Disney Television', 'id': 670}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2002-03-07,0.0
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,0.21926,/6MwBolpHcddjB3JQyNo2AfB8e3L.jpg,[],"[{'iso_3166_1': 'FR', 'name': 'France'}]",1905-01-01,0.0
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,1.618458,/9oqTGZcQf0UwsbA8mKPeJzPRJ5e.jpg,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1901-01-01,0.0
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,0.208349,/v7V9SA14gmznzpvxbKCtA4BzQ7z.jpg,"[{'name': 'Star-Film', 'id': 7159}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1905-01-01,0.0
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,0.148131,/nLVgY3fYMnRbRzEoz3fF0wrqtCr.jpg,"[{'name': 'Star-Film', 'id': 7159}, {'name': '...","[{'iso_3166_1': 'FR', 'name': 'France'}]",1906-01-01,0.0
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,0.725084,/tX3x4Jms6xqVgiet0Ei2Ks0XkAg.jpg,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1909-01-01,0.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,0.213973,/ifWvveLPWWrzitz4oL01YMEokiB.jpg,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1904-03-05,0.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,0.071782,/ifWvveLPWWrzitz4oL01YMEokiB.jpg,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1904-01-01,0.0
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,/yU6byKhpzHG1RFpY5PYM6mfhfU1.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-13,0.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,1.109068,/ZLOgI7KjtWby1NEg2pjU2Id60W.jpg,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1900-01-01,0.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,0.225432,/tn5J3PszVETDkKj49nakmeqr8Od.jpg,"[{'name': 'Star-Film', 'id': 7159}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1900-01-01,0.0
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",0.011025,/8jI4ykkIVDmrYgUjDld9i0aulMq.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1981-01-01,0.0
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,1.559596,/zZwbntqdfKdVgzH1RoMHa99g0mJ.jpg,"[{'name': 'Mad Films', 'id': 82459}, {'name': ...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2017-07-07,0.0
45454,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,0.139936,/rpkDqyKdXahRcZIEC9I02EBSwje.jpg,"[{'name': 'Oops Doughnuts Productions', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-01-11,0.0
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,0.225051,/j1AN0L4motTt8SBxeTMXDtExsYl.jpg,[],[],1972-01-01,0.0
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,0.222814,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,"[{'name': 'Universal Pictures', 'id': 33}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1946-03-29,0.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",0.076061,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,[],[],2000-10-22,0.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.38645,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-10-03,0.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661558,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,"[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-01-01,0.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0

In [29]:
metadata.loc[:, ['budget','genres','revenue']]

,budget,genres,revenue
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",373554033.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",262797249.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",81452156.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",76578911.0
5,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",187436818.0
6,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",0.0
7,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",0.0
8,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",64350171.0
9,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",352194034.0
10,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",107879496.0
11,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",0.0
12,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",11348324.0
13,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",13681765.0
14,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",10017322.0
15,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",116112375.0
16,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",135000000.0
17,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",4300000.0
18,30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",212385533.0
19,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",35431113.0
20,30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",115101622.0
21,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",0.0
22,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",30303072.0
23,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",0.0
24,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",49800000.0
25,0,"[{'id': 18, 'name': 'Drama'}]",0.0
26,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",27400000.0
27,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",0.0
28,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",1738611.0
29,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",0.0
...,...,...,...
45436,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",0.0
45437,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",0.0
45438,0,"[{'id': 18, 'name': 'Drama'}]",0.0
45439,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",0.0
45440,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0.0
45441,0,"[{'id': 35, 'name': 'Comedy'}]",0.0
45442,0,[],0.0
45443,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",0.0
45444,0,"[{'id': 14, 'name': 'Fantasy'}]",0.0
45445,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",0.0
45446,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",0.0
45447,0,[],0.0
45448,0,[],0.0
45449,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",0.0
45450,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",0.0
45451,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",0.0
45452,0,"[{'id': 99, 'name': 'Documentary'}]",0.0
45453,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",0.0
45454,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0.0
45455,0,[],0.0
45456,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",0.0
45457,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",0.0
45458,0,"[{'id': 27, 'name': 'Horror'}]",0.0
45459,0,"[{'id': 878, 'name': 'Science Fiction'}]",0.0
45460,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",0.0
45461,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0.0
45462,0,"[{'id': 18, 'name': 'Drama'}]",0.0
45463,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",0.0
45464,0,[],0.0
45465,0,[],0.0

In [38]:

for budget in metadata.budget:
    if budget > 0:
        m = m + 1
 

print(m)

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
print(metadata.dtypes)

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object